body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: blue;
    margin: 0 auto;
}
.container {
    max-width: 960px;
}<<div class="container">header< footer/div>